<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto 2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>

    <style>
        /* Asegúrate de que el body ocupe al menos el 100% de la pantalla */
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        /* Asegúrate de que el contenido principal crezca para ocupar el espacio disponible */
        .content {
            flex: 1;
        }

        /* Asegúrate de que el footer esté en la parte inferior */
        footer {
            background-color: #f8f9fa;
            padding: 1rem 0;
            width: 100%;
        }
    </style>
</head>

<body class="bg-primary-subtle">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Ayuda
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{{ url_for('acercade') }}">Acerca de la aplicación</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('estudiante') }}">Información del estudiante</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('static', filename='ensayo.pdf') }}"
                            target="_blank">Documentación</a></li>
                </ul>
            </div>
            <form method="POST">
                <input type="hidden" name="id" value="inicializar">
                <button type="submit" class="btn btn-success" {% if not subido %} disabled {% endif %}>Inicializar</button>
            </form>
            <form method="POST">
                <input type="hidden" name="id" value="cargar">
                <button type="submit" class="btn btn-primary">Cargar configuración de máquinas y productos</button>
            </form>

            <form method="POST">
                <input type="hidden" name="id" value="generar">
                <button type="submit" class="btn btn-danger" {% if not subido %} disabled {% endif %}>Generar Archivo de Salida</button>
            </form>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ 'danger' if category == 'error' else 'light' }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}



    <!-- Contenido principal -->
    <div class="content container mt-4">
        <div class="row">
            <!-- Primera tarjeta -->
            <div class="col-md-3">
                <div class="card" style="height: 100%;">
                    <div class="card-body text-center">
                        <h1 class="card-title">SIMULACIÓN</h1>
                        <div class="container">

                            <!-- Formulario de Maquinas -->
                            <form method="POST">
                                <div class="mb-3">
                                    <label for="maquina" class="form-label">Escoja una Máquina</label>
                                    <select class="form-select" id="maquina" name="maquina" onchange="this.form.submit()" {% if not subido %} disabled {% endif %}>
                                        
                                        {% if not seleccionado %}  
                                        <option selected>Elegir una Máquina</option>
                                        {% endif %}


                                        {% for maquina in lista.retornar() %}
                                        {% if maquinaN==maquina.nombre %}
                                        <option value="{{ maquina.nombre }}" selected>{{ maquina.nombre }}</option>
                                        {% else %}
                                        <option value="{{ maquina.nombre }}">{{ maquina.nombre }}</option>
                                        {% endif %}
                                        {% endfor %}

                                    </select>
                                </div>
                            </form>

                            <!-- Formulario de productos -->
                            {% if listaProductos %}
                            <form method="POST">
                                <div class="mb-3">
                                    <label for="producto" class="form-label">Escoja un Producto</label>
                                    <select class="form-select" id="producto" name="producto">
                                        <option selected>Elige un Producto</option>
                                        {% for producto in listaProductos.retornar() %}
                                        <option value="{{ producto.nombre }}">{{ producto.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Simular</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Segunda tarjeta -->
            <div class="col-md-9">
                <div class="card" style="height: 100%;">
                    <div class="card-body text-center">
                        <table style="width:100%; border: 1px solid black; border-collapse: collapse;"
<tr>
<th style="border: 1px solid black; text-align: center; padding: 8px;">Tiempo</th>
<th style="border: 1px solid black; text-align: center; padding: 8px;">Linea 1</th>
<th style="border: 1px solid black; text-align: center; padding: 8px;">Linea 2</th>
<th style="border: 1px solid black; text-align: center; padding: 8px;">Linea 3</th>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">1</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 1</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 1</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 1</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">2</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 2</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 2</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 2</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">3</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Ensamblar componente 2</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 3</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">4</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Ensamblar componente 2</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">5</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 1</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">6</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Ensamblar componente 1</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">7</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Ensamblar componente 1</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">8</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 2</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Ensamblar componente 3</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">9</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 3</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Ensamblar componente 3</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">10</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 4</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Ensamblar componente 2</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">11</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 5</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Ensamblar componente 2</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">12</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Ensamblar componente 3</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 6</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 3</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">13</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Ensamblar componente 3</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 4</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">14</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 4</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 5</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">15</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 5</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Ensamblar componente 5</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">16</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 6</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Ensamblar componente 5</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">17</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 7</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Ensamblar componente 6</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">18</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Ensamblar componente 6</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">19</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Ensamblar componente 7</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">20</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Ensamblar componente 7</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">21</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Mover brazo - componente 8</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">22</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Ensamblar componente 8</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">23</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">Ensamblar componente 8</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">24</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">25</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">26</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">27</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">28</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">29</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
<td style="border: 1px solid black; text-align: center; padding: 8px;">30</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
<td style="border: 1px solid black; text-align: center; padding: 8px;">No hacer nada</td>
</tr>
<tr>
</table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer siempre al final -->
    <br>
    <footer class="bg-body-tertiary text-center text-lg-start py-3">
        <div class="container">
            <span class="text-muted">&copy; 2024 Proyecto 2. Todos los derechos reservados.</span>
        </div>
    </footer>
</body>

</html>